
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* HEADER */

.headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    
    
}

.headertop ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: end;
    gap: 8px;

    
}

.headertop a {
    font-size: 18px;
    padding-left: 8px;
    text-decoration: none;
    color: #E5E7EB;
}



.headerbottom {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    margin: 0;
    gap: 100px;
}


.header-bottomleft {

}

.header-bottomleft h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.header-bottomleft p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 5px;
}

.headerbottom button{
    background-color: #3882F6;
    border: 0px;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
}

.headerimg {

    display: flex;

}

.headerimg img {
    width: 400px;
}



/* SECTION 1 */


.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.info-header {
    padding: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-tab {
    display: flex;
    gap: 10px;

}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.imgbox {
    border: 3px solid #3882F6;
    border-radius: 10%;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.infotext{
    text-align: center;
    width: 200px;
    font-size: 18px;
}


/* Section 2 */

.section2 {
    display: flex;
    background: #E5E7EB;
    margin-left: 200px;
    margin-right: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: end;
   padding-left: 20px;
   padding-right: 20px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 1;
    color: #1F2937;
}

